<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <div class="container" style="background-color:cornflowerblue">
  <br><br><br>
  <div class="jumbotron bg-dark text-white">
    <h1 align="center">Welcome to the world of organic shopping</h1>
  </div>
  <div>
    <form>
        <div class="form-group" style="width:250px">
          <label for="userName">User Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            placeholder="Enter user Name"
          />
        </div>
        <form>
          <div class="form-group" style="width:250px">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter password"
            />
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-warning">Reset</button>
          <button class="btn btn-danger">Cancel </button>
      </form>
  </div>
  <br><br><br>
</div>